.yellow{
    color: #FED346;
}
.burger{
    background-color: #0D0D0D;
    border: 1px solid #FED346;
    color: white;
    border-radius: 7px;
}
.textp-ml{
    margin-left: 3rem;
}
.icon-dotty{
    width: 15rem;
}
.icon-height{
    height: 8rem;
}
.text-mentor h2{
    font-size: 1.3rem;
    font-weight: bold;
}
.text-comment{
    min-height: 5rem;
}
.text-mentor p{
    font-size: 1rem;
    font-weight: bold;
}
.text-cjudul{
    font-size: 2.3rem;
    font-weight: bold;
}
.text-djudul{
    font-size: 1.3rem;
    font-weight: bold;
}
.card-gradient{
    background-image: linear-gradient(to bottom, rgba(42, 49, 65, 0.55),rgba(11, 11, 13, 0.32));
    border-radius: 24px;
    height: 25rem;
    width: 19rem;
    margin-right: auto;
    margin-left: auto;
}
.color-gradient{
    background: linear-gradient(to right, #FF7A00,#FFE386);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    -ms-background-clip: text;
    -ms-text-fill-color: transparent;
    -o-background-clip: text;
    -o-text-fill-color: transparent;
}
.gambar{
    right: 5rem;  
    z-index: 100;  
    margin-top: 2rem;  
    position: absolute;
}
.pola-bulet{
    right: 34rem; 
    position: absolute;
}
.icon-yellow{
    position: absolute;
    top: 39rem;
    z-index: 100;
    right: 38rem;
}
.hover-yellow:hover{
   background-color: #FED346;
   /* padding:2rem; */
}
.arrow-right{
    display: block;
    float: right;
    height: 12px;
    margin-top: 7px;
}
.content2{
    height: 24rem;
}
.bg{
    max-height: 50vw;
}
.text-p{
    font-size: 1.3vw;
    align-self: center;
}
.nav{
    /* height: 10rem;  */
    width: 100%;
}
.text-judul{
    font-size: 3.5vw;
    font-weight: revert;
    font-weight: bold;
}
.text-bjudul{
    font-size: 3vw;
    font-weight: revert;
}
.text-link{
    font-size: 1.3vw; 
    margin-top:2.5vw;
}
.nav3{
    top: 46vw;
}
.navbar{
    top: 21vw;
    height: 37rem;
    padding-top: 8rem;
}
.content-2{
    height: 75vw;
}
.m-phone{
    margin-top: 8.5vw;
}
.phone{
    margin: auto;
}
.content-3{
    height: 38vw;
}

.img-yt{
    position: absolute; 
    max-height: 37vw; 
    right: 0; 
    max-width: 45vw;
}
.sponsor{
    max-height: 7vw;
    min-height: 3rem;
}
.content-4{
    height: 30vw; width: 100%; background-color: #59B54F;
}
.text-footer{
    text-align: right;
    margin-right: 10vw;
    margin-top: 4vw;
    font-size: 16px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    color: #FFFFFF;
}
.mrgn-r{
    margin-right: 10vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: .5vw;
    padding-bottom: .5vw;
}
.c-footer{
    height: 16vh;
    width: 100%;
  background: #1E1E1E;
}
.bulan-kuning{
    z-index: 22;
    position: absolute;
    right: 14vw;
    margin-top: 20.2vw;
    max-width: 19.7vw;
}
.arroww{
    margin-top: 1rem;
}
.butn-yellow{
    width: 10rem;
    background-color: rgba(37, 30, 7, 1);
    border: 1px solid #FED346;
    border-radius: 12px;
    color: rgba(254, 211, 70, 1);
}
@media screen and (min-width: 1px) and (max-width: 500px){
    .margin-left{
        padding-left: 5%;
    }
    .logo-size{
        height: 4rem;
    }
    .navbar{
        height: 29rem;
    }
.butn-yellow{
    width: 7rem;
}
    .text-p{
        font-size: 0.8em;
    }
    .text-judul{
        font-size: 1.65em;
        font-weight: bold;
    }
    .text-djudul{
        font-size: 1.1em;
        font-weight: bold;
    }
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .hide-scroll-bar::-webkit-scrollbar {
        display: none;
    }
    .icon-yellow{
        position: absolute;
        top: 18em;
        z-index: 100;
        height: 2em;
        right: 10.3em;
    }
    .navbar{
        padding-top: 5rem;
    }
    .icon-dotty{
        max-width: 15rem;
        width: 41vw;
    }
    .textp-ml{
        margin-left: 0px;
    }
    .gambar{
        max-height: 30rem;
        height: 37vw;
        right: 1em;
        min-height: 12em;
            margin-top: 1em;
    }
    .pola-bulet{
        right: 8em;
        position: absolute;
        height: 2em;
    }
    }
@media screen and (min-width: 499px) and (max-width: 779px){
    .text-p{
        font-size: 1em;
    }
    .text-judul{
        font-size: 1.8em;
        font-weight: bold;
    }
    .margin-left{
        padding-left: 5%;
    }
    .logo-size{
        height: 4rem;
    }
    .navbar{
        padding-top: 6rem;
        height: 29rem;
    }
.icon-dotty{
    max-width: 15rem;
    width: 41vw;
}
.textp-ml{
    margin-left: 0px;
}
.gambar{
    max-height: 30rem;
    height: 14rem;
    right: 2rem;
    min-height: 12em;
    
}
.pola-bulet{
    right: 10rem;
    position: absolute;
    height: 2rem;
}
.icon-yellow{
    position: absolute;
    top: 23rem;
    z-index: 100;
    height: 3rem;
    right: 13rem;
    width: auto;
}
}
@media screen and (min-width: 780px) and (max-width: 1023px){
    .gambar{
        right: 5rem;
    max-height: 30rem;
    height: 21rem;
}
.pola-bulet{
    right: 35vw;
    position: absolute;
    height: 5vw;
}
.icon-yellow{
    position: absolute;
    top:  31rem;
    z-index: 100;
    height: 7vw;
    right: 22rem;
    width: auto;
}
.margin-left{
    padding-left: 10%;
}
}

@media screen and (min-width: 1024px)and (max-width: 1199px){
    .gambar{
    max-height: 30rem;
    height: 37vw;
    right: 10vw;
}
.pola-bulet{
    right: 35vw;
    position: absolute;
    height: 5vw;
}
.icon-yellow{
    position: absolute;
    top: 51vw;
    z-index: 100;
    height: 7vw;
    right: 39vw;
}
.margin-left{
  margin-left: 16%;
}
}
@media screen and (min-width: 1300px ) {
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
        overflow-x: auto;
    }
    .gambar{
        right: 13rem;  
        z-index: 100;  
        margin-top: 2rem;  
        position: absolute;
    }
    
}
@media screen and (min-width: 1200px ) and (max-width:1399px){ 
    .gambar{
        right: 13rem;  
        z-index: 100;  
        margin-top: 2rem;  
        position: absolute;
    }
    
    .margin-left{
        margin-left: 16%;
    }
    .gambar{
        max-height: 30rem;
    height: 37rem;
    right: 10vw;
    }
    .pola-bulet{
        right: 35vw;
        position: absolute;
        height: 5vw;
    }
    .icon-yellow{
        position: absolute;
        top: 39rem;
        z-index: 100;
        height: 5rem;
        right: 32rem;
    }
    .c-sponsor{
        margin:2vw 10vw 2vw 10vw ;
    }
    .arroww{
        margin-top: 2rem;
    }
    .mrgn-r{
        margin-right: 17vw;
        padding-left: 1rem;
        padding-right: 1rem;
        padding-top: .5rem;
        padding-bottom: .5rem;
    }
    .text-footer{
        margin-top: 10vw;
        font-size: 2.5vw;
    }
    .footerMargin{
        margin-top: 2.25rem;
    }
    .hub{
        width: 30%; 
    }
    .c-footer{
        height: 9vw;
    }
    .no-hp{
    float: left;
}
    .content-2{
        height: 600px;
    }
    .content-3{
        height: 27rem;
    }
    .bg{
        height: 55vw;
        max-height: 37rem;
    }
    .navbar{
        padding-top:8rem ;
        top: 10.6rem;
        height: 37rem;
    }
    .nav3{
        top: 35rem;;
    }
    .nav{
        height:8rem;
    }
    .navs2{
        margin-right: 0;
    }
  
    .navs{
        margin-left: 3rem;
        margin-top: 3rem;
        float: right;
        margin-right: 3rem;
    }
    .text-judul{
        font-size: 2.4rem;
        font-weight: bold;
    }
    .text-p{
        font-size: 0.9rem;
    }
    .text-bjudul{
        font-size: 2rem;
        font-weight: 500;
    }
    .text-link{
        font-size: 1.1rem; 
        margin-top:20px;
    }
    .phone{
        max-height: 600px;
        margin-right: 10vw;
    }
    .anDes{
        max-height: 500px;
    }
    .m-phone{
        margin-top: 10vh;
        right: 16vw;
    }
    .youtube{
        margin-top: 5rem;
    }
    .img-yt{
        /* max-height: 37vh;  */
        max-width: 33rem;
    }
    .margin-left{
        margin-left: 16%;
    }
}
@media screen and (min-width: 1400px) {
    .margin-left{
        margin-left: 16%;
    }
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    .gambar{
        right: 13rem;  
        z-index: 100;  
        margin-top: 2rem;  
        position: absolute;
    }
    
}
@media screen and (min-width: 1500px){ 
    .gambar{
        right: 13rem;  
        z-index: 100;  
        margin-top: 2rem;  
        position: absolute;
    }
    
    .text-judul{
        font-size: 3.4rem;
        font-weight: bold;
    }
    .text-p{
        font-size: 0.9rem;
    }
    .text-bjudul{
        font-size: 2rem;
        font-weight: 500;
    }
    .text-link{
        font-size: 1.1rem; 
        margin-top:20px;
    }
    .nav{
    }
    .hide-scroll-bar {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }
    
    .hide-scroll-bar::-webkit-scrollbar {
        display: none;
    }
    .c-sponsor{
        margin:2vw 10vw 2vw 10vw ;
    }
    .arroww{
        margin-top: 2rem;
    }
    .phone{

        margin-right: 11vw;
    }
    .m-phone{
        margin-top: 7rem;
        right: 15vw;
    }
    .margin-left{
        margin-left: 16%;
    }
}
@media screen and (min-width: 2200px){ 
    .text-judul{
        font-size: 3.4rem;
        font-weight: bold;
    }
    .text-p{
        font-size: 0.9rem;
    }
    .text-bjudul{
        font-size: 2rem;
        font-weight: 500;
    }
    .text-link{
        font-size: 1.1rem; 
        margin-top:20px;
    }
    .margin-left{
        margin-left: 16%;
    }
    .c-sponsor{
        margin:2vw 10vw 2vw 10vw ;
    }
    .arroww{
        margin-top: 2rem;
    }
    .phone{

        margin-right: 12.5vw;
    }
}